@use '@/styles/variables' as *;

.master {
	background-color: $beg_color;
	padding-bottom: 100px;
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 100px;
		align-items: flex-end;
		flex-wrap: nowrap;
		h2 {
			display: flex;
			padding-top: 35px;
			gap: 40px;
			flex-wrap: nowrap;
			align-items: flex-end;
			font-size: 120px;
			font-weight: $medium550;
			line-height: 70%;
			span {
				font-weight: 400;
				font-size: 45px;
				line-height: 90%;
			}
		}
		p {
			max-width: 580px;
			font-size: 24px;
			line-height: 140%;
			color: $brown_main;
			font-weight: $light300;
		}
	}
	&__box {
		position: relative;
		margin-top: 150px;
		padding: 30px 100px 80px 100px;
		border: 1px solid $brown_main;
		border-radius: 32px;
		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 0;
		}
		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 80px;

			margin: 0 auto;
			margin-top: -80px;
			padding: 0 20px;
			background-color: $beg_color;
			&__column1,
			&__column2 {
				max-width: 420px;
				display: flex;
				flex-direction: column;
				gap: 50px;
			}
			&__item {
				display: flex;
				gap: 32px;
				align-items: center;
				max-width: 420px;
				h2 {
					font-size: 40px;
					line-height: 90%;
					font-weight: $light300;
					max-width: 420px;
					width: 420px;
					b {
						font-weight: $medium550;
					}
				}
				h4 {
					font-size: 18px;
					line-height: 120%;
					font-weight: 400;
				}
			}
		}
	}
	&__footer {
		display: flex;
		padding-top: 200px;
		justify-content: space-between;
		gap: 100px;
		h3 {
			max-width: 570px;
			font-size: 62px;
			font-weight: $medium550;
			color: $brown_main;
			line-height: 100%;
		}
		&__desc {
			font-weight: $light300;
			font-size: 24px;
			line-height: 140%;
			color: $brown_main;
			max-width: 540px;
			span {
				display: block;
				padding-top: 50px;
			}
			h5 {
				padding-top: 50px;
				font-weight: $medium550;
				font-size: 32px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.master {
		padding-bottom: 80px;
		&__container {
			flex-direction: column;
			align-items: center;
			gap: 40px;
			h2 {
				font-size: 80px;
				gap: 25px;
				span {
					font-size: 30px;
				}
			}
			p {
				font-size: 16px;
			}
		}
		&__box {
			margin-top: 70px;
			padding: 32px;
			border-radius: 14px;
			padding: 32px 22px;
			&__body {
				margin-top: -50px;
				gap: 24px;
				flex-direction: column;
				padding: 0 10px;
				&__item {
					gap: 24px;
					h2 {
						font-size: 24px;
						text-align: center;
						max-width: 255px;
						margin: 0 auto;
					}
					h4 {
						font-size: 14px;
					}
					img {
						width: 24px;
					}
				}
				&__column1,
				&__column2 {
					gap: 24px;
				}
			}
		}
		&__footer {
			padding-top: 80px;
			gap: 50px;
			flex-direction: column;
			h3 {
				font-size: 38px;
			}
			&__desc {
				font-size: 18px;
				span {
					padding-top: 32px;
				}
				h5 {
					padding-top: 32px;
					font-size: 20px;
				}
			}
		}
	}
}
