@use '@/styles/variables' as *;

.workslider {
	background: url('../../../assets/img/workbg.webp') center center/cover
		no-repeat;
	padding: 150px 0 80px 0;
	h2 {
		max-width: 605px;
		color: $beg_color;
		font-weight: $medium550;
		font-size: 72px;
		line-height: 100%;
		span {
			font-weight: $light300;
		}
	}
}

/* --- Налаштування Слайдера --- */
.sliderWrapper {
	margin-top: 190px;
	padding-left: 135px;
	position: relative;

	// @media (max-width: 1240px) {
	// 	padding-left: 20px;
	// }
}

.swiperContainer {
	padding-bottom: 40px;
	overflow-y: visible !important;
	position: relative;
}

.slide {
	width: 500px;
	max-width: 500px;
	height: 320px;
	display: flex;
	flex-direction: column;

	background: url('../../../assets/svg/slidebg.svg');
	background-size: cover; // Розтягуємо SVG на весь слайд
	background-position: center;
	background-repeat: no-repeat;
}

.card {
	padding: 40px;
	width: 100%;
	height: 320px;
	position: relative;
	h3 {
		font-size: 32px;
		line-height: 100%;
		color: $brown_light;
		font-weight: $medium550;
	}
	.p1 {
		margin-top: 24px;
		font-size: 18px;
		line-height: 140%;
		font-weight: $light300;
		color: $brown_main;
	}
	.p2 {
		padding-top: 24px;
		font-size: 18px;
		line-height: 120%;
		font-weight: $roman;
		color: $brown_main;
	}
}

.navContainer {
	position: absolute;
	bottom: -30px;
	left: 195px;
	display: flex;
	gap: 8px;
	z-index: 10;
}

.navBtn {
	width: 55px;
	height: 55px;
	border: none;
	cursor: pointer;
	background: none;
	transition: 0.5s linear;
	&:hover {
		svg {
			path:nth-child(1) {
				fill: $orange;
			}
			path:nth-child(2) {
				fill: $brown_main;
			}
		}
	}
	&:disabled,
	&[aria-disabled='true'] {
		cursor: not-allowed;
		svg {
			path:nth-child(1) {
				fill: #f2e5d4;
			}
			path:nth-child(2) {
				fill: $brown_main;
			}
		}
	}
}

@media (max-width: 1024px) {
	.workslider {
		padding: 50px 0 50px 0;
		background-position: left;
		h2 {
			font-size: 36px;
			line-height: 110%;
			span {
				display: block;
			}
		}
		.sliderWrapper {
			margin-top: 40px;
			padding-left: 30px;
			padding-right: 30px;
		}
		.swiperContainer {
			overflow: hidden;
		}
		.navContainer {
			left: 53px;
		}
		.navBtn {
			width: 50px;
			height: 50px;
			svg {
				width: 50px;
			}
		}
		.slide {
			width: 100%;
			max-width: 100%;
			height: 255px;
			background: url('../../../assets/svg/slidebgmob.svg') center center/cover
				no-repeat;
		}
		.card {
			padding: 30px;
			width: 100%;
			height: 255px;
			h3 {
				font-size: 24px;
			}
			.p1 {
				margin-top: 16px;
				font-size: 14px;
			}
			.p2 {
				padding-top: 16px;
				font-size: 14px;
			}
		}
	}
}
