@use './variables' as *;

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

*,
::after,
::before,
::backdrop,
::file-selector-button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0 solid;
}

body {
	font-family: var(--font-helvetica);
	padding: 0;
	margin: 0;
	background-color: $beg_color;
	overflow-x: hidden !important;
}

a {
	text-decoration: none;
	color: $brown_main;
	margin: 0;
	padding: 0;
	outline: none;
	cursor: pointer;
}

ul,
li {
	padding: 0;
	margin: 0;
}

ol,
ul,
menu {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
}

button {
	background: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
}

.font-cormorant {
	font-family: var(--font-cormorant), serif;
	font-style: italic;
	font-weight: 500;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 135px;
}

.main-btn {
	padding: 29px 50px 29px 50px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 14px;
	border: none;
	span {
		font-size: 20px;
		font-weight: 550;
		line-height: 90%;
		color: $brown_main;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 14px;
		z-index: 2;
	}
	&:hover {
		.svg-bg {
			fill: $orange;
		}
		.svg-bg path {
			stroke: $orange;
		}
	}
	.svg-bg path {
		stroke: #231410;
	}
}

.main-btn-beg {
	justify-content: center;
	gap: 15px;
	align-items: center;
	span {
		font-size: 20px;
		color: $beg_color;
		display: flex;
		justify-content: space-between;
	}
	.svg-bg path {
		stroke: $beg_color;
	}
	&:hover {
		.svg-bg {
			fill: $beg_color;
		}
		.svg-bg path {
			stroke: $beg_color;
		}
		span {
			color: $brown_main;
		}
		.svg-arrow {
			fill: $brown_main;
		}
	}
}

@media (max-width: 1400px) {
	.container {
		padding: 0 80px;
	}
}

@media (max-width: 1024px) {
	html {
		overflow-x: hidden;
	}
	body {
		overflow: clip !important;
	}
	.container {
		max-width: 800px;
		padding: 0 30px;
	}
	.main-btn {
		padding: 20px 20px 20px 20px;
		span {
			font-size: 14px;
		}
	}
}
