@use './variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before,
::backdrop,
::file-selector-button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0 solid;
}

body {
	font-family: var(--font-helvetica);
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: $brown_main;
	margin: 0;
	padding: 0;
	outline: none;
	cursor: pointer;
}

ul,
li {
	padding: 0;
	margin: 0;
}

ol,
ul,
menu {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}

.font-cormorant {
	font-family: var(--font-cormorant), serif;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 135px;
}

.main-btn {
	padding: 29px 50px 29px 67px;
	position: relative;
	display: flex;
	border: none;
	&:hover {
		svg {
			fill: $orange;
		}
		path {
			stroke: $orange;
		}
	}
	path {
		stroke: #231410;
	}
	span {
		font-size: 20px;
		text-align: center;
		font-weight: 550;
		line-height: 90%;
		color: $brown_main;
		position: relative;
		z-index: 2;
	}
}

@media (max-width: 1024px) {
	.container {
		max-width: 900px;
	}
}
