// Colors

$beg_color: #fff6e5;
$white: #fff;
$black: #000;
$brown_main: #231410;
$brown_light: #754437;
$orange: #ed9c3c;
$ocean: #1a243d;
$green: #3c3f20;
$pink: #fff0e2;

// Fonts

$roman: 400;
$medium550: 550;
$bold700: 700;
$light300: 300;
$medium500: 500;
