@use '@/styles/variables' as *;

.features {
	background: url('../../../assets/img/suhiibg.png') center center/cover
		no-repeat;
	padding: 176px 0;
	&__box {
		background-color: $beg_color;
		padding: 35px 40px;
		max-width: 570px;
		position: relative;
		margin-left: auto;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 40px;
		li {
			display: flex;
			gap: 40px;
			align-items: flex-start;
			font-size: 24px;
			font-weight: $light300;
			line-height: 140%;
			color: $black;
		}
	}
	&__terra {
		display: none;
	}
}

@media (max-width: 1024px) {
	.features {
		padding: 0;
		padding-top: 235px;
		&__box {
			padding: 24px 35px 50px 35px;
			position: relative;
			margin: 0 auto;
		}
		&__list {
			gap: 24px;
			li {
				gap: 24px;
				font-size: 14px;
				span {
					font-size: 16px;
					line-height: 150%;
				}
			}
		}
		&__terra {
			display: block;
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

@media (max-width: 768px) {
	.features {
		background: url('../../../assets/img/suhiibgmob.png') center center/cover
			no-repeat;
	}
}
