@use '@/styles/variables' as *;

.solutions {
	padding: 130px 0 0 0;
	&__container {
		display: flex;
		align-items: flex-start;
		gap: 60px;
		justify-content: space-between;
		margin: 0 auto;
	}
	&__leftSide {
		flex: 1;
		position: sticky;
		top: 15vh;
		max-width: 500px;
	}
	&__title {
		font-size: 62px;
		font-weight: $medium550;
		line-height: 100%;
		max-width: 500px;
		color: $brown_main;
	}
	&__highlight {
		color: $orange;
		padding-left: 15px;
	}
	&__rightSide {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 40px;
		max-width: 570px;
	}
	&__card {
		position: sticky;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 355px;
		max-width: 570px;
		font-size: 24px;
		font-weight: $light300;
		padding: 50px 95px;
		line-height: 140%;
		background: url('../../../assets/svg/animsolbg.svg') center center/cover
			no-repeat;
		&.darkCard {
			background: url('../../../assets/svg/animsolbg-brown.svg') center
				center/cover no-repeat;
			color: $beg_color;
		}

		@media (max-width: 1600px) {
			max-width: 530px;
			height: 330px;
			font-size: 20px;
			line-height: 130%;
		}
	}
}
