@use '@/styles/variables' as *;

.notFoundPage {
	padding: 250px 135px 120px 135px;
	margin-top: -150px;
	display: flex;
	justify-content: end;
	width: 100%;
	background: url('../assets/img/404bg.webp') center center/cover no-repeat;

	&__btnImage {
		position: absolute;
		display: block;
		width: 400px;
		left: 0px;
		top: 0;
		height: 100%;
		z-index: 0;
		fill: $beg_color;
		transition: 0.2s linear;
		@media (max-width: 1024px) {
			width: 300px;
			height: 60px;
		}
	}
	&__arrowdia {
		display: block;
		width: 12px;
		height: 12px;
		z-index: 1;
		fill: $brown_main;
	}
	@media (max-width: 1024px) {
		justify-content: center;
		padding: 280px 30px 100px 30px;
	}
}

.contentInner {
	max-width: 470px;
	width: 100%;
	margin-left: auto;

	@media (max-width: 1024px) {
		padding: 0 40px;
	}
}

.title {
	font-size: 72px;
	font-weight: $medium550;
	line-height: 100%;
	color: $beg_color;
	margin-bottom: 60px;

	@media (max-width: 1024px) {
		text-align: center;
		font-size: 40px;
		margin-bottom: 40px;
	}
}

/* Плашка */
.card {
	background-color: $beg_color;
	padding: 35px;
	border-radius: 14px;

	a {
		width: 400px;
		height: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;

		padding: 29px 50px 29px 50px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 14px;
		border: none;
		span {
			font-size: 20px;
			font-weight: 550;
			line-height: 90%;
			color: $brown_main;

			display: flex;
			justify-content: space-between;
			gap: 14px;
			z-index: 2;
		}
		&:hover {
			.svg-bg {
				fill: $orange;
			}
			.svg-bg path {
				stroke: $orange;
			}
		}
		.svg-bg {
			stroke: #231410;
		}

		@media (max-width: 1024px) {
			width: 300px;
			height: 60px;
		}
	}

	@media (max-width: 1024px) {
		padding: 30px 20px;
		max-width: 100%;
	}
}

.text {
	font-size: 24px;
	font-weight: 300;
	color: $brown_main;
	line-height: 130%;
	margin-bottom: 32px;

	@media (max-width: 768px) {
		font-size: 16px;
		margin-bottom: 30px;
		text-align: center;
	}
}
