@use '@/styles/variables' as *;

.header {
	position: sticky;
	z-index: 100;
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	color: $beg_color;
	transition:
		background 0.3s ease,
		backdrop-filter 0.3s ease;
	&.scrolled {
		background: rgba(32, 20, 16, 0.6);
		backdrop-filter: blur(5px);
	}
	&__container {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		display: flex;
		gap: 60px;
		justify-content: center;
		align-items: center;
		a {
			color: $beg_color;
			font-weight: 300;
		}
	}
	&__social {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: center;
		a {
			transition: 0.3s linear;
			&:hover {
				svg circle {
					fill: $orange;
				}
			}
			svg {
				width: 55px;
			}
			svg circle {
				fill: $brown-main;
			}
			svg path {
				fill: $beg-color;
			}
		}
	}
}

.burger {
	display: none;
	background: none;
	border: none;
	font-size: 28px;
	color: $beg_color;
	cursor: pointer;
	z-index: 101;
}

.mobileMenu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	padding: 30px;
	background: #efe6d6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: left 0.4s ease;
	z-index: 100;
	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}
}

.mobileMenu a {
	font-size: 24px;
	color: $brown-main;
	font-weight: $roman;
}

.open {
	left: 0;
}

.closeBtn {
	position: absolute;
	top: 30px;
	right: 30px;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 101;
}

@media (max-width: 1024px) {
	.header {
		padding-top: 20px;
		&__menu {
			display: none;
		}
	}
	.burger {
		display: block;
	}
}
